* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;


  background-color: #A90017;
}

.container {
  width: 100%;
  max-width: 1140px;
  display: flex;
  align-items: center;
  background-color: #800080;
}

.logo {
  width: 100px;
  display: flex;
  justify-content: center
}

.menu {
  display: flex;
  flex: 1;
  justify-content: center;
}


#page--welcome {
  width: 100vw;
  height: calc(100vh - 50px);

  display: flex;
  justify-content: center;

  background-color: #AED677;
}

.welcome {
  display: flex;
  background-color: #49DBEF;
}

.form {
  display: flex;
  flex: 1;
  background-color: #EE71A2;
}